extends _layouts/base

include _modules/link/link

block content
  div(class="")
    div(style="background-color:#D7D7D7; background-image: url(images/bg-img.png);background-size: 30%" class="bg-no-repeat h-screen bg-right-bottom")
      div(class="h-16 px-1 sm:px-1 md:px-1 lg:px-16 xl:px-16" style="background:rgba(37, 37, 37 ,0.95); ")
        .w-full.h-full.max-w-6xl.text-white.mx-auto
          nav.h-full.flex.items-center.justify-between.flex-wrap
            .flex.text-2xl.text-white NEW DAWN Lolita Lottery
            div(class="flex")
              a(href="https://weibo.com/7225229817/IaBDMtaWr?from=page_1006067225229817_profile&wvr=6&mod=weibotime&type=comment#_rnd1570632397262" class="m-1 px-5 py-2 hover:bg-white hover:text-black border-b  border-white") 抽奖工具
      div(class="px-10 py-16" style="height: 20%;")
      div(class="mx-1 sm:mx-1 md:mx-1 lg:mx-16 xl:mx-16")
        div(class="w-full h-30 max-w-6xl mx-auto ")
          div(class="h-30 max-w-6xl")
            .flex
              div(class="w-full flex text-6xl border-t-2 border-b-2 border-black justify-center")
                p(id="lucky-dog" class="w-full flex text-6xl border-t-2 border-b-2 border-black justify-center") Ready to start.
            .flex.h-12.justify-center.mt-24
              p.text-xl 抽奖数据源于报名清单
            div(class="flex justify-center h-24 sm:h-16 md:h-16 lg:h-16 xl:h-24" )
            .flex.justify-center
                button(id="start-button" class="rounded border border-black px-10 py-2 text-xl hover:bg-black hover:text-white") 开始抽奖